{% extends 'layout/layout.html' %}
{% block title %}Usuarios{% endblock %}
{%block content %}
{{ super() }}
<h1>Seccion de Pagos</h1>
<form class="filter_user" action="" method="GET">
    <input name="search_field" type="search" class="search-field" placeholder="Apellido o N° Socio..." {% if
        request.args.get('search_field') %} value="{{ request.args.get('search_field') }}" {% endif %} />
    <button type="submit" formaction="{{ url_for('payment.payment_index') }}" class="button_search">
        Buscar
    </button>
</form>
<section class="table-container">
    <table class="index-table box">
        <thead>
            <tr>
                <th class="name">Nro de Socio</th>
                <th class="name">Nombre</th>
                <th class="name">Apellido</th>
                <th class="name">Email</th>
                <th class="name">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users.items %}
            <tr>
                <th>{{ user.member_number }}</th>
                <th>{{ user.name }}</th>
                <th>{{ user.last_name }}</th>
                <th>{{ user.email}}</th>
                <th>
                    <button class="button_registarpago">
                        <a href="{{ url_for('payment.show', id=user.id )}}">Registrar Pago</a>
                    </button>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


<!-- Setteamos el objeto users que tiene los usuarios y a su vez la 
    paginacion  para enviarselos al template paginacion.html 
    que usa por defecto la variable  pagination_items -->

{% set base_url = '/payment' %}

{% if request.args.get('search_field') %}
{% set search = '?search_field=' + request.args.get('search_field') %}
{% else %}
{% set search = "?search_field=" %}
{% endif %}


{% set pagination_items = users %} {% set url_redirect = base_url %}


{% include'layout/pagination.html' %}
{% endblock content %}