/* botones */

.button_add {
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  border-color: black;
  background: #0090af;
  color: withe;
  color: aliceblue;
  cursor: pointer;
  float: right;
}

.button_add a {
  text-decoration: none;
  color: aliceblue;
}

/* titulos */

h1 {
  padding: 2rem;
  color: #4b4b4b;
}

.h1center {
  text-align: center;
}

/* tablas */

/* table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
} */

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 10%;
}

th {
  letter-spacing: 0.5px;
}

table tr {
  outline: lightgrey solid 0.0625rem;
  border-radius: 0.625rem;
}

th,
td {
  text-align: center;
  width: 69.125rem;
  height: 4.0625rem;
}

.name {
  color: #0090af;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}


/* Flash Messages */

p.flash {
  width: 100%;
  padding: 5px;
}

p.flash.error {
  border: 3px solid red;
  background-color: rgb(242, 53, 6);
}

p.flash.success {
  border: 3px solid green;
  background-color: rgb(89, 237, 9);
}

p.flash.info {
  border: 3px solid rgb(6, 53, 193);
  background-color: rgba(2, 11, 116, 0.498);
}