{% extends 'layout/layout.html' %} {% block title %}Usuarios{% endblock %} {%
block head %}{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='forms/style.css') }}" />
{% endblock head%} {%block content %}
<h1 class="h1center">Agregar disciplina</h1>
<div class="form_container">
  <form action="{{ url_for('disciplines.create') }}" method="post">
    <label class="label" for="name">Nombre</label>
    <input class="input_text" type="text" id="name" name="name" />

    <label class="label" for="name">Categoria</label>
    <input class="input_text" type="text" id="cateogry" name="category" />

    <label class="label" for="name">Nombre y apellido instructores</label>
    <input class="input_text" type="text" id="nameInstructors" name="nameInstructors" />

    <label class="label" for="name">Dias y horarios</label>
    <input class="input_text" type="text" id="daysAndHours" name="daysAndHours" />

    <label class="label" for="name">Costo mensual</label>
    <input class="input_text" type="text" id="monthlyCost" name="monthlyCost" />

    <button type="submit" id="submit" class="btn">Guardar</button>
  </form>
</div>
{% endblock content %}