{% extends 'layout/layout.html' %} {% block title %}Disciplinas{% endblock %}
{%block content %} {{ super() }}
<button class="button_add">
  <a href="{{ url_for('disciplines.create') }}"><img alt="agregar" src="{{ url_for('static', filename='images/Adduser.png') }}"/>Nueva disciplina</a>
</button>
<h1>Listado de disciplinas</h1>
<table class="index-table box">
  <thead>
    <tr>
      <th class="name">Nombre</th>
      <th class="name">Categoria</th>
    </tr>
  </thead>
  <tbody>
    {% for discipline in disciplines.items %}
    <tr>
      <th>{{ discipline.nombre }}</th>
      <th>{{ discipline.categoria }}</th>
      <th>
        <img
          class="icon"
          alt="editar"
          title="Editar"
          src="{{ url_for('static', filename='images/edit.svg') }}"
        />
        <div>
            <a href="{{ url_for('disciplines.delete', id=discipline.id )}}">Eliminar</a>
            <a href="{{ url_for('disciplines.update', id=discipline.id )}}">Actualizar</a>
        </div>
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Setteamos el objeto users que tiene los usuarios y a su vez la 
paginacion  para enviarselos al template paginacion.html 
que usa por defecto la variable  pagination_items -->
{% set pagination_items = disciplines %} 
{% set url_redirect = '/disciplines' %} 
{% include'layout/pagination.html' %} 
{% endblock content %}
