{% extends 'layout/layout.html' %} 
{% block title %}Asociados{% endblock %} 
{% block content %}
{{ super() }}

<h1>Listado de Asociados</h1>
{% if associates.items %}


<form class="filter_user" action="" method="POST">

  <input name="search_field" type="search" class="search-field" placeholder="buscar apellido" />

  <button type="submit" formaction="{{ url_for('inscription.search', id=idDisciplina) }}" class="button_search">
      Buscar
  </button>

</form>

<table class="index-table box">
  <thead>
    <tr>
      <th class="name">Nombre</th>
      <th class="name">Apellido</th>
      <th class="name">Email</th>
      <th class="name">Dni</th>
      <th class="name">Direccion</th>
      <th class="name">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for associate in associates.items %}
    <tr>
      <th>{{ associate.name}}</th>
      <th>{{ associate.last_name}}</th>
      <th>{{ associate.email}}</th>
      <th>{{ associate.dni}}</th>
      <th>{{ associate.address}}</th>
      <th>
        {% if find_inscription_by_associate_and_discipline(associate.id,idDisciplina) %}
          <p>Asociado ya inscripto</p>
        {% else %}
         <a class="inscripcion" href="{{ url_for('inscription.doInscription', id=associate.id , idDisciplina=idDisciplina) }}">Inscribir a disciplina</a>
        {% endif %}
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<section class="containernotresult">
  <img img class="notresultimg" src="{{ url_for('static', filename='images/feedback-animate.svg') }}" />
  <span class="notresultext">No se encontraron resultados</span>
</section>
{% endif %}
<!-- Setteamos el objeto users que tiene los usuarios y a su vez la 
paginacion  para enviarselos al template paginacion.html 
que usa por defecto la variable  pagination_items -->
{% set pagination_items = associates %} 
{% set url_redirect = '/inscription' %}
{% set id_disciplina = idDisciplina %}
{% include'layout/pagination.html' %}


{% endblock content %}