{% extends 'layout/layout.html' %} {% block title %}Disciplinas{% endblock %} 
{%block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='forms/style.css') }}"/>
{% endblock head %} 
{%block content %}
<h1>Disciplina: {{discipline.nombre}}</h1>
<section class="sectionShow">
  <span class="labelShow"><strong>Nombre:</strong>     {{discipline.nombre}}</span>
  <span class="labelShow"><strong>Categoria:</strong> {{discipline.categoria}}</span>
</section>
{% endblock content %}}