{% extends 'layout/layout.html' %} {% block title %}Disciplinas{% endblock %} 
{%block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='forms/style.css') }}"/>
{% endblock head %} 
{%block content %}
<h1>Disciplina: {{discipline.name}}</h1>
<section class="sectionShow">
  <span class="labelShow"><strong>Nombre:</strong>     {{discipline.name}}</span>
  <span class="labelShow"><strong>Categoria:</strong> {{discipline.category}}</span>
  <span class="labelShow"><strong>Nombre Instructores:</strong> {{discipline.nameInstructors}}</span>
  <span class="labelShow"><strong>Dias y horarios:</strong> {{discipline.daysAndHours}}</span>
  <span class="labelShow"><strong>Cuota Mensual:</strong> ${{discipline.monthlyCost}}</span>
</section>
{% endblock content %}