{% extends 'layout/layout.html' %} {% block title %}Usuarios{% endblock %} 
{%block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='forms/style.css') }}" />
{% endblock %} {%block content %} {{ super() }}
<h1 class="h1center">Agregar Usuario</h1>
<div class="form_container">
  <form action="{{ url_for('users.create') }}" method="post">
    <label class="label" for="name">Nombre*</label>
    <input class="input_text" type="text" id="name" name="name" required/>
    <label class="label" for="name">Apellido*</label>
    <input class="input_text" type="text" id="last_name" name="last_name" required/>
    <label class="label" for="name">Nombre de usuario*</label>
    <input class="input_text" type="text" id="user_name" name="user_name" required/>
    <label class="label" for="name">Email*</label>
    <input type="email" class="input_text" id="email" name="email" required/>
    <label class="label" for="name">Contraseña*</label>
    <input class="input_text" type="password" id="password" name="password" required/>
    <label class="label required" for="rol">Roles*</label>
    <input type="checkbox" name="rol" value="1" />Administrador
    <input type="checkbox" name="rol" value="2" />Operador
    <button type="submit" id="submit" class="button_add mt-3">Guardar</button>
  </form>
</div>
{% endblock content %}