{% extends 'layout/layout.html' %} {% block title %}Usuarios{% endblock %}
{%block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='forms/style.css') }}" />
{% endblock head %}
{%block content %}

<div class="row justify-content-center mt-5">
  <section class="sectionShow">
    <h3>Datos del usuario: </h3>
    <span class="labelShow"><strong>Nombre: </strong>{{user.name}}</span>
    <span class="labelShow"><strong>Apellido: </strong>{{user.last_name}}</span>
    <span class="labelShow"><strong>Usuario: </strong>{{user.user_name}}</span>
    <span class="labelShow"><strong>Email: </strong>{{user.email}}</span>
  </section>
</div>

{% endblock content %}