{% extends 'layout/layout.html' %} {% block title %}Usuarios{% endblock %} {%
block head %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='forms/style.css') }}" />
{% endblock head%} {%block content %} {{ super() }}
<h1 class="h1center">Actualizar Usuario</h1>
<div class="form_container">
  <form action="/users/update/{{user.id}}" method="POST">
    <label class="label" for="name">Name</label>
    <input class="input_text" type="text" id="email" name="name" value="{{user.name}}" required/>

    <label class="label" for="name">Apellido</label>
    <input class="input_text" type="text" id="email" name="last_name" value="{{user.last_name}}" required/>

    <label class="label" for="name">Nombre De Ususario</label>
    <input class="input_text" type="text" id="email" name="user_name" value="{{user.user_name}}" required/>

    <label class="label" for="name">Email</label>
    <input class="input_text" type="email" id="email" name="email" value="{{user.email}}" required/>
    <label class="label" for="rol">Roles</label>
    {%for rol in roles%}
      {% if rol not in user.roles and has_permission("user_update") %}
          <input type="checkbox" name="rol" value="{{ rol.id }}">  
          <label>{{ rol.nombre }}</label>
      {% else %}
        {% if has_permission("user_update") %}
          <input type="checkbox" name="rol" value="{{ rol.id }}" checked>  
          <label>{{ rol.nombre }}</label>
            {% elif rol in user.roles %}
              <label>{{ rol.nombre }}</label>
            {% endif %}
      {% endif %}
    {%endfor%}
    <button type="submit" id="submit" class="button_add mt-3">Actualizar</button>
  </form>
</div>
{% endblock content %}