{% extends 'layout/layout.html' %} {% block title %}Usuarios{% endblock %}
{%block content %}
<button class="button_add">
  <a href="{{ url_for('users.create') }}"
    ><img
      alt="agregar"
      src="{{ url_for('static', filename='images/Adduser.png') }}"
    />
    Nuevo Usuario</a
  >
</button>
<h1>Listado de usuarios</h1>
<table class="index-table box">
  <thead>
    <tr>
      <th class="name">Id</th>
      <th class="name">Email</th>
      <th class="name">Descripción</th>
      <th class="name">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <th>{{ user.id }}</th>
      <th>{{ user.email }}</th>
      <th>{{ user.email}}</th>
      <th>
        <img
          class="icon"
          alt="editar"
          title="Editar"
          src="{{ url_for('static', filename='images/edit.svg') }}"
        />
      </th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
