{% extends 'layout/layout.html' %} {% block title %}Usuarios{% endblock %}
{%block content %} 
{{ super() }}
<h1>Listado de usuarios</h1>
{% if has_permission("user_new") %}
<button class="button_add">
  <a href="{{ url_for('users.create') }}"><img alt="agregar" 
    src="{{ url_for('static', filename='images/Adduser.png') }}"/> Agregar</a>
</button>
{% endif %}
<form class="filter_user" action="" method="GET">
  <input name="search_field" type="search" class="search-field" placeholder="Buscar por email..." 
  {% if request.args.get('search_field') %} value="{{ request.args.get('search_field') }}" {% endif %}/>
  <select name="active_filter" class="search-field cp">
    <option value="True">Activo</option>
    <option value="False">Inactivo</option>
  </select>
  <button type="submit" formaction="{{ url_for('users.user_index') }}" class="button_search">
    Buscar
  </button>
</form>

{% if users.items %}
<section class="table-container">
  <table class="index-table box">
    <thead>
      <tr>
        <th class="name">Nombre</th>
        <th class="name">Apellido</th>
        <th class="name">Email</th>
        <th class="name">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users.items %}
      <tr>
        <th>{{ user.name }}</th>
        <th>{{ user.last_name }}</th>
        <th>{{ user.email}}</th>
        <th>
          {% if has_permission("user_show") %}
            <a href="{{ url_for('users.show', id=user.id )}}"><img class="icon" alt="Mas informacion" title="Mas informacion" src="{{ url_for('static', filename='images/info.svg') }}"/></a>
          {% endif %}
          {% if has_permission("user_update") %}
            <a href="{{ url_for('users.update', id=user.id )}}"><img class="icon" alt="editar" title="Editar" src="{{ url_for('static', filename='images/edit.svg') }}"/></a>
          {% endif %}
          {% if has_permission("user_destroy") %}
            <a href="{{ url_for('users.delete', id=user.id )}}" class="deleteconfirm"><img class="icon" alt="Eliminar" title="Eliminar" src="{{ url_for('static', filename='images/delete.svg') }}"/></a>
          {% endif %}
          {% if has_permission("user_activ") %}
            {%if  user.active == True %}
              <a href="{{ url_for('users.setStatus', id=user.id, desactivado=1) }}" class="activconfirm"><img class="icon" alt="Bloquear" title="Bloquear" src="{{ url_for('static', filename='images/on.svg') }}"/></a>
            {% else %}
              <a href="{{ url_for('users.setStatus', id=user.id, desactivado=0) }}" class="bloqueoconfirm"><img class="icon" alt="Activar" title="Activar" src="{{ url_for('static', filename='images/off.svg') }}"/></a>
            {% endif %}
          {% endif %}
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

  <!-- Setteamos el objeto users que tiene los usuarios y a su vez la 
  paginacion  para enviarselos al template paginacion.html 
  que usa por defecto la variable  pagination_items -->

  {% set base_url = '/users' %}

  {% if  request.args.get('search_field') %}
    {% set search = '?search_field=' + request.args.get('search_field') %}
  {% else %}
    {% set search = "?search_field=" %}
  {% endif %}
  
  
  {% if  request.args.get('active_filter') %}
    {% set active = '&active_filter=' + request.args.get('active_filter') %}
  {% else %}
    {% set active = "" %}
  {% endif %}
  
  {% set pagination_items = users %} {% set url_redirect = base_url %}
  {% include'layout/pagination.html' %}


{% else %}
  <section class="containernotresult">
    <img img class="notresultimg" src="{{ url_for('static', filename='images/feedback-animate.svg') }}" />
    <span class="notresultext">No se encontraron resultados</span>
  </section>
{% endif %}
{% endblock content %}

