{% extends 'layout/layout.html' %} {% block title %}Usuarios{% endblock %}
{%block content %} {{ super() }}
<button class="button_add">
  <a href="{{ url_for('users.create') }}"><img alt="agregar" src="{{ url_for('static', filename='images/Adduser.png') }}"/>Nuevo Usuario</a>
</button>
<h1>Listado de usuarios</h1>

<form class="filter_user" action="" method="POST">
  <input name="search_field" type="search" class="search-field" placeholder="Buscar por email" />
  <select name="active_filter" class="search-field">
    <option value="True">Activo</option>
    <option value="False">Inactivo</option>
  </select>
  <button type="submit" formaction="{{ url_for('users.search') }}" class="button_search">
    Buscar
  </button>
</form>

{% if users.items %}
  <table class="index-table box">
    <thead>
      <tr>
        <th class="name">Id</th>
        <th class="name">Email</th>
        <th class="name">Descripción</th>
        <th class="name">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users.items %}
      <tr>
        <th>{{ user.id }}</th>
        <th>{{ user.email }}</th>
        <th>{{ user.email}}</th>
        <th>
          <a href="{{ url_for('users.show', id=user.id )}}"><img class="icon" alt="Mas informacion" title="Mas informacion" src="{{ url_for('static', filename='images/info.svg') }}"/></a>
          <a href="{{ url_for('users.update', id=user.id )}}"><img class="icon" alt="editar" title="Editar" src="{{ url_for('static', filename='images/edit.svg') }}"/></a>
          <a href="{{ url_for('users.delete', id=user.id )}}" class="deleteconfirm"><img class="icon" alt="Eliminar" title="Eliminar" src="{{ url_for('static', filename='images/delete.svg') }}"/></a>
          {%if  user.active == True %}
            <a href="{{ url_for('users.setStatus', id=user.id, desactivado=1) }}" class="activconfirm"><img class="icon" alt="Bloquear" title="Bloquear" src="{{ url_for('static', filename='images/on.svg') }}"/></a>
          {% else %}
            <a href="{{ url_for('users.setStatus', id=user.id, desactivado=0) }}" class="bloqueoconfirm"><img class="icon" alt="Activar" title="Activar" src="{{ url_for('static', filename='images/off.svg') }}"/></a>
          {% endif %}
        </th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Setteamos el objeto users que tiene los usuarios y a su vez la 
  paginacion  para enviarselos al template paginacion.html 
  que usa por defecto la variable  pagination_items -->
  {% set pagination_items = users %} 
  {% set url_redirect = '/users' %} 
  {% include'layout/pagination.html' %} 

{% else %}
  <section class="containernotresult">
    <img img class="notresultimg" src="{{ url_for('static', filename='images/feedback-animate.svg') }}" />
    <span class="notresultext">No se encontraron resultados</span>
  </section>
{% endif %}
{% endblock content %}
