<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        <img style="width: 40px" alt="logo" src="{{ url_for('static', filename='images/logo.png') }}" />
      </a>

      <ul class="nav navbar-nav">
        <li class="nav-item px-2 ">
          <a class="nav-link" href="/users">Usuarios</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/associates">Asociados</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link" href="/disciplines">Disciplinas</a>
        </li>
        {% if has_permission("payment_index") %}
          <li class="nav-item px-2">
            <a class="nav-link" href="/payment">Pagos</a>
          </li>
        {% endif%}
        <li class="nav-item px-2">
          {% if 'localhost' in request.url %}
            {% set url = 'localhost:8080' %}
          {% else %}
            {% set url = 'grupo02.proyecto2022.linti.unlp.edu.ar'  %}
          {% endif %}
          <a class="nav-link" href="http://{{url}}/#/estadisticas">Estadisticas</a>
        </li>
        {% if has_permission("config_index") %}
          <li class="nav-item px-2">
            <a class="nav-link" href="{{ url_for('config.config_form') }}">Configuración</a>
          </li>
        {% endif%}
      </ul>

    </div>

    <div class="d-flex align-items-center">



        
          <div class="dropdown">
            
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i style="color: aliceblue" class="fas fa-user"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
              <li><a class="dropdown-item fa-envelope fas" href="#">  {{ session['user'] }}</a></li>
              <li><a class="dropdown-item fas fa-sign-out-alt" href="/auth/logout">  Cerrar sesión</a></li>
           
            </ul>
          </div>
        </html>

    </div>
  </div>
</nav>
