<link
  rel="stylesheet"
  href="{{ url_for('static', filename='navbar/css/styles.css') }}"
/>
<script
  src="https://kit.fontawesome.com/7e5b2d153f.js"
  crossorigin="anonymous"
></script>
<script
  defer
  src="{{ url_for('static', filename='navbar/js/index.js') }}"
></script>
<section class="header">
  <nav class="nav">
    <a href="/" class="logo nav-link">Club</a>
    <button class="nav-toggle" aria-label="Abrir menú">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-menu">
      <li class="nav-menu-item">
        <a href="/users" class="nav-menu-link nav-link">Usuarios</a>
      </li>
      <li class="nav-menu-item">
        <a href="#" class="nav-menu-link nav-link">Asociados</a>
      </li>
      <li class="nav-menu-item">
        <a href="/disciplines" class="nav-menu-link nav-link">Disciplinas</a>
      </li>
      <li class="nav-menu-item">
        <a href="#" class="nav-menu-link nav-link">Configuracion</a>
      </li>
      <li class="nav-menu-item">
        <div class="dropdown-container">
          <a href="#" class="nav-menu-link nav-link">Cuenta</a>
          <div>
            <ul>
              <li class="lis">Mi perfil</li>
              <li class="lis">Estado Societario</li>
              <hr /></a>
              <li class="lis">Cerrar Sesion</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</section>
