<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}layout{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {% block head %}
      <link rel="stylesheet"href="{{ url_for('static', filename='layout/css/style.css') }}"/>
      <link rel="stylesheet"href="{{ url_for('static', filename='style.css') }}"/>
      <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet" type="text/css"/>
    {% endblock %}
  </head>
  <body>
    {% block menu %} {% include 'navbar/navbar.html' %} {% endblock menu %}
    <main>
      {% block content %} 
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages  %}
                <p class="flash {{category}}">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %} 
    {% endblock %}
    </main>
    <footer>{% block footer %} {% endblock %}</footer>
  </body>
</html>