<!-- Pagination -->
<link rel="stylesheet" href="{{ url_for('static', filename='layout/css/pagination.css') }}" />
<div>
  <br><br>
  <ul id="pagination">

    {% for page_num in pagination_items.iter_pages() %}
        {% if page_num != pagination_items.page %}
            <li>
              <a href="{{url_redirect}}/{{ page_num }}">{{ page_num }}</a>
            </li>
        {% else %}
            <li>
              <a class="active" href="#">{{ page_num }}</a>
            </li>
        {% endif %}
    {% endfor %}

  </ul>
</div>
