<!-- Pagination -->
<link rel="stylesheet" href="{{ url_for('static', filename='layout/css/pagination.css') }}" />
<div>
  <br><br>
  <ul id="pagination">

    {% if id_disciplina %}
        {% set  url_inscription = '/' + id_disciplina|string %} 
    {% else %}
        {%  set  url_inscription = '' %} 
    {% endif %}
    

    {% if pagination_items.has_prev %}
    <li>
      <a href="{{url_redirect}}/{{ pagination_items.prev_num }}{{search}}{{active}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}

    {% for page_num in pagination_items.iter_pages(left_edge=0, left_current=2, right_current=2, right_edge=0) %}
    {% if page_num %}
        {% if page_num != pagination_items.page %}
            <li>
              <a href="{{url_redirect}}/{{ page_num }}{{search}}{{active}}{{ url_inscription }}">{{ page_num }}</a>
            </li>
        {% else %}
            <li>
              <a class="active" href="#">{{ page_num }}</a>
            </li>
        {% endif %}
    {% endif %}
    {% endfor %}

    {% if pagination_items.has_next %}
    <li>
      <a href="{{url_redirect}}/{{ pagination_items.next_num }}{{search}}{{active}}{{ url_inscription }}" aria-label="Previous">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}

  </ul>
</div>