<!-- Contiene solo el elemento grafico de paginacion -->
<link rel="stylesheet" href="{{ url_for('static', filename='layout/css/pagination.css') }}" />

<!-- Pagination -->
<div>
  <br><br>
  <ul id="pagination">
    <li><a class="" href="#">←</a></li>
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">→</a></li>
  </ul>
</div>